.dropdown {
  position: relative;

  width: 12.5rem;

  .dropdownButton {
    border: none;
    height: 3.5rem;
    padding: 0 1.5rem;
    appearance: none;

    border-radius: 6px;

    background-color: hsl(209, 23%, 22%);
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .dropdownMenu {
    position: absolute;
    left: 0px;
    width: 12.5rem;
    background-color: hsl(209, 23%, 22%);
    border-radius: 6px;
    margin: 0.25rem 0;
    padding: 1rem 1.5rem;

    font-size: 14px;

    display: flex;
    flex-direction: column;

    .dropdownItem {
      padding: 0.25rem 0;
    }
  }
}
