$totalWidth: 1440px;
$pagePadding: 5rem;

.container {
  width: 100%;
  height: 100%;

  .header {
    background-color: hsl(209, 23%, 22%);

    .topBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 $pagePadding;
      max-width: $totalWidth;
      margin: 0 auto;

      .darkModeIcon {
        margin-right: 0.5rem;
      }
    }
  }

  .mainSection {
    padding: 2.5rem $pagePadding;
    max-width: $totalWidth;
    margin: 0 auto;

    .searchBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .searchWrapper {
        width: 30rem;
        height: 3.5rem;
        background-color: hsl(209, 23%, 22%);
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 2rem;
        gap: 1rem;

        input {
          font-weight: 600;
          height: 100%;
          border: none;
          background-color: transparent;
          flex-grow: 1;

          &:focus {
            outline: none;
          }
          &::placeholder {
            color: hsl(0, 0%, 100%);
          }
        }
      }
    }
  }

  .countriesList {
    display: grid;
    grid-gap: 4.5rem;
    justify-content: space-between;
    margin-top: 3rem;
    grid-template-columns: repeat(auto-fit, 16rem);
  }
}

h1 {
  font-size: 22px;
  appearance: none;
}

a {
  text-decoration: none;
  font-weight: 600;
}
